---
import { getAllPlatos, getPlatosByTipo } from "../../api/platos-csv"

const platos = await getAllPlatos()

const bebidas = await getPlatosByTipo("Bebida")
const porciones = await getPlatosByTipo("Porción")

---

<h1>Menu</h1>
<section>Bebidas</sectio>
{
  bebidas.map(({nombre, precio, ingredientes}): Plato => (
    <div>{nombre}</div>
    <div>{ingredientes}</div>
    <div>{precio}</div>
  ))
}

<section>Porciones</sectio>
  {
    porciones.map(({nombre, precio, ingredientes}): Plato => (
      <div>{nombre}</div>
      <div>{ingredientes}</div>
      <div>{precio}</div>
    ))
  }

