---
import Title from "../ui/Title.astro";
import platos from "./mejoresPlatos";
---

<section class="pt-16 px-4 max-w-4xl mx-auto">
  <Title text="Nuestros Platos Destacados" />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      platos.map((dish) => (
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <div class="h-48 bg-amber-200 flex items-center justify-center">
            {/* <span class="text-amber-800 text-xl">Imagen de {dish}</span> */}
            <img
              loading="lazy"
              src={dish.imagen}
              alt={`Imagen de ${dish.nombre}`}
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-4">
            <h3 class={`text-xl font-semibold mb-2 text-amber-900`}>
              {dish.nombre}
            </h3>
            <p class="text-amber-700">{dish.descripcion}</p>
          </div>
        </div>
      ))
    }
  </div>

  <section class="text-center mt-10">
    <a
      href="/carta"
      class="inline-flex items-center gap-2 bg-orange-500 hover:bg-orange-600 text-white px-5 py-3 rounded-lg font-semibold shadow-md transition duration-200"
    >
      🍽️ <span>Ver toda la carta</span>
    </a>
  </section>
</section>
