---
const data = {
  title: "Restaurante Sant Jhoane",
  description: "Auténticos Sabores Ecuatorianos en Cada Bocado",
  url_video_placeholder: "/video/video-placeholder.mp4",
  url_map: "https://maps.app.goo.gl/fPTwu5DGyFdq1csG7",
  url_phone: "tel:+34960151265",
};
---

<section
  id="hero-section"
  class="relative h-[60vh] flex items-center justify-center bg-[#78350f]"
>
  <video
    id="hero-video"
    autoplay
    loop
    muted
    playsinline
    aria-label="Video publicitario mostrando los platos, no contiene audio"
    class="absolute inset-0 object-cover w-full h-full"
  >
    <source src={data.url_video_placeholder} type="video/mp4" />
    Tu navegador no soporta el video.
  </video>
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  <div class="relative z-10 text-center text-white p-2">
    <h1 class="text-5xl font-bold mb-4">{data.title}</h1>
    <p class="text-xl mb-8">{data.description}</p>
    <div class="flex gap-4 justify-center">
      <a
        href={data.url_map}
        target="_blank"
        class="bg-white text-black px-6 py-3 rounded-lg text-lg font-semibold hover:bg-opacity-90 transition duration-300"
      >
        Cómo llegar
      </a>
      <a
        href={data.url_phone}
        class="bg-white text-black px-6 py-3 rounded-lg text-lg font-semibold hover:bg-opacity-90 transition duration-300"
      >
        Llamar
      </a>
    </div>
  </div>
</section>
